* {
  box-sizing: border-box;
  padding: 0;
  bottom: 0;
}

body {
  background-color: rgb(0, 0, 0);
}

html {
  font-size: 10px;
  color: white;
}

#navList,
#subNavList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item,
.sub-nav-item {
  list-style: none;
}

#logoContainer {
  width: 20%;
}

#logoContainer img {
  width: 100%;
}

#name {
  font-size: 2rem;
  font-family: "Bungee", sans-serif;
  font-style: normal;
}

nav {
  border-bottom: 5px solid rgb(0, 255, 0);
}

#subnav {
  /* border-bottom: 5px solid rgb(0, 255, 0); */
  position: sticky;
  top: -1px;
  overflow: hidden;
  z-index: 1000;
  background-color: black;
}

.is-pinned {
  border-bottom: 5px solid rgb(0, 255, 0);
}

#subNavList {
  font-size: 1.3rem;
  font-family: "Bungee", sans-serif;
}

#subNavList a {
  color: white;
  text-decoration: none;
}

#subNavList a:hover {
  color: rgb(0, 255, 0);
}

#hero {
  position: relative;
  display: inline-block;
}

#endButton {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 200px;
  background-color: rgb(0, 255, 0);
  border: none;
  border-radius: 5px;
  font-size: 2.5rem;
  font-family: "Bungee", sans-serif;
  font-style: normal;
  z-index: 10;
}

#endButton:hover {
  background-color: rgb(0, 175, 0);
  cursor: pointer;
}

#heroVideo {
  transition: filter 0.5s ease;
  display: block;
  height: auto;
  max-width: 481px;
}

.video-dark {
  filter: brightness(0.3); /* Reduces brightness to 40% */
}

.scroller {
  max-width: 800px;
  overflow: hidden;
  mask-image: linear-gradient(
    to right,
    transparent,
    white 15%,
    white 85%,
    transparent
  );
}

.scroller-inner {
  display: flex;
  gap: 2rem;
  width: max-content;
  flex-wrap: nowrap;
  padding: 1rem 0;
  animation: scroll var(--animation-duration, 10s) linear infinite;
}

.scroller-inner:hover {
  animation-play-state: paused; /* Pause on hover for readability */
}

@keyframes scroll {
  to {
    transform: translate(calc(-50% - 1rem));
  }
}

.quote,
h3 {
  font-size: 2.5rem;
  font-family: "Bungee", sans-serif;
  font-style: normal;
  text-align: center;
}

.seperator {
  padding: 0.3rem;
  background-color: rgb(0, 255, 0);
}

#isThisYou {
  width: 80%;
  margin: 0 auto;
  margin-bottom: 2.5rem;
}

#isThisYouCards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.is-this-you {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.5rem;
  font-family: "Bungee", sans-serif;
  background-color: rgb(29, 29, 29);
  border-radius: 5px;
}

/* .is-this-you p {
  width: 100%;
} */
/* 
.is-this-you .bullet {
  width: 40%;
} */

/* .is-this-you p {
  text-align: left;
  font-size: 1.5rem;
  font-family: "Bungee", sans-serif;
} */

/* .bullet {
  font-size: 3.5rem;
  color: rgb(0, 255, 0);
} */

#testimonialCards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.testimonial-card {
  text-align: center;
  /* background-color: rgb(29, 29, 29); */
  border-radius: 5px;
  width: 100%;
  margin: 0 auto;
  /* height: 600px; */
}

.testimonial-img-container {
  display: flex;
  gap: 2rem;
}

.testimonial-card h4 {
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.testimonial-card .testimonial-img-container {
  width: 100%;
  margin: 0 auto;
}

.testimonial-img-container img {
  width: 100%;
  border-radius: 20px;
}

.testimonial-btns {
  text-align: center;
  display: flex;
  justify-content: space-evenly;
}

.testimonial-btns button {
  /* cursor: pointer;
  background-color: rgb(0, 255, 0);
  border: none;
  padding: 1rem;
  font-size: 2rem; */
  background-color: transparent;
  border: none;
}

.testimonial-btns img {
  filter: invert(73%) sepia(49%) saturate(6622%) hue-rotate(82deg)
    brightness(112%) contrast(132%);
}

.testimonial-btns img:hover {
  filter: invert(26%) sepia(29%) saturate(3065%) hue-rotate(88deg)
    brightness(107%) contrast(105%);
}

/* #williamTesimonial {
  display: block;
}

#harveyTesimonial {
  display: none;
}

#anotherTesimonial {
  display: none;
} */

#pricingCards {
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.pricing-card {
  position: relative;
  overflow: hidden;
  border-radius: 5px;
}

.pricing-card::before {
  content: "";
  position: absolute;
  top: -150px; /* Adjust position to top */
  left: -150px; /* Adjust position to left */
  width: 300px;
  height: 300px;
  background-color: #4ff800; /* The orange glow color */
  border-radius: 50%; /* Make it a soft circle */
  filter: blur(50px); /* Adjust blur strength as needed */
  opacity: 0.3; /* Adjust visibility */
  pointer-events: none; /* Allows clicks to pass through if needed */
}

.pricing-card {
  /* border: 2px solid rgb(0, 255, 0); */
  /* background-color: rgb(29, 29, 29); */
  border-radius: 5px;
  width: 90%;
  margin: 0 auto;
  background-color: rgb(8, 8, 8);
  /* box-shadow: inset 0 0 10px #f8a100; */
}

.offer-heading,
.testimonial-heading {
  /* text-align: center; */
  font-size: 1.8rem;
  font-family: "Bungee", sans-serif;
}

.pricing-text {
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.offer-price {
  font-size: 1.6rem;
  font-family: "Bungee", sans-serif;
}

.offer-features {
  list-style: none;
  text-decoration: none;
}

.offer-features li img {
  width: 10%;
  min-width: 24px;
  max-width: 36px;
  filter: invert(63%) sepia(89%) saturate(3719%) hue-rotate(83deg)
    brightness(121%) contrast(121%);
}

.offer-features li {
  display: flex;
  align-items: center;
  font-family: "Poppins", sans-serif;
  font-weight: 500;
  font-style: normal;
}

.offer-features p {
  font-size: 1.2rem;
}

.pricing-card .pricing-btn {
  text-align: center;
  padding-bottom: 2rem;
}

.payment-btn {
  font-family: "Bungee", sans-serif;
  background-color: rgb(0, 255, 0);
  border: none;
  border-radius: 5px;
  padding: 2rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}

.payment-btn:hover {
  background-color: rgb(0, 175, 0);
  cursor: pointer;
}
