* {
  box-sizing: border-box;
  padding: 0;
  bottom: 0;
}

body {
  background-color: black;
}

html {
  font-size: 10px;
  color: white;
}

#navList {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-item {
  list-style: none;
}

#logoContainer {
  width: 20%;
}

#logoContainer img {
  width: 100%;
}

#name {
  font-size: 2rem;
  font-family: "Bungee", sans-serif;
  font-style: normal;
}

nav {
  border-bottom: 5px solid rgb(0, 255, 0);
}

#hero {
  position: relative;
  display: inline-block;
}

#endButton {
  display: none;
  position: absolute;
  top: 60%;
  left: 50%;
  bottom: 50%;
  transform: translate(-50%, -50%);
  height: 100px;
  width: 200px;
  background-color: rgb(0, 255, 0);
  border: none;
  border-radius: 5px;
  font-size: 2.5rem;
  font-family: "Bungee", sans-serif;
  font-style: normal;
  z-index: 10;
}

#endButton:hover {
  background-color: rgb(0, 175, 0);
  cursor: pointer;
}

#heroVideo {
  transition: filter 0.5s ease;
  display: block;
  height: auto;
  max-width: 481px;
}

.video-dark {
  filter: brightness(0.3); /* Reduces brightness to 40% */
}

.quote,
h3 {
  font-size: 2.5rem;
  font-family: "Bungee", sans-serif;
  font-style: normal;
  text-align: center;
}

.seperator {
  padding: 0.3rem;
  background-color: rgb(0, 255, 0);
}

.is-this-you {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.is-this-you p {
  width: 100%;
}

.is-this-you .bullet {
  width: 55%;
}

.is-this-you p {
  text-align: left;
  font-size: 1.5rem;
  font-family: "Bungee", sans-serif;
}

.bullet {
  font-size: 3.5rem;
  color: rgb(0, 255, 0);
}
